html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

html.dark {
  background: #121212;
}
.el-button--primary,
.el-button--primary.is-plain {
  --el-button-active-bg-color: var(--el-color-primary) !important;
  --el-button-active-border-color: var(--el-color-primary) !important;
}

::-webkit-scrollbar {
  width: 6px;
  background-color:  #fff;
}
::-webkit-scrollbar-thumb {
  background-color:  var(--el-color-primary);
  border-radius: 6px;
}
